<html>
    <head>
    <meta charset="utf-8">
    </head>
    <body>
    	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
        <div id="appleid-signin" data-color="black" data-border="true" data-type="sign in"></div>
        <script th:inline="javascript">
        var state = [[${state}]]+"";
        var nonce = [[${client_nonce}]]+"";
        console.log(state);
        console.log(nonce);
        
        AppleID.auth.init({
            	clientId : 'com.lessonwang.coksabu',
      	        scope : 'email',
      	        redirectURI : 'https://lessonwang.com/appleLoginCallBack',
      	        state : state,
      	        nonce : nonce,
                usePopup : false //or false defaults to false
            });
        </script>

        
    </body>
</html>