<html>
    <head>
    <meta charset="utf-8">
    </head>
    <body>ㄴㅇㅁㄻㄴㅇ
    	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
        <div id="appleid-signin" data-color="black" data-border="true" data-type="sign in"></div>
        <script type="text/javascript">
            AppleID.auth.init({
                clientId : '',
                scope : '',
                redirectURI : '',
                state : '',
                nonce : '',
                usePopup : false //or false defaults to false
            });
        </script>
    </body>
</html>